.o5 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .k5 {
    display: flex;

    height: 80dvh;
    margin: auto;
    max-width: 850px;
    width:100%;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;



  }
  .slider
  {
    display: flex;
    padding-bottom: 20px;
  height: 100%;
        margin: auto;
        max-width: 850px;
        width:100%;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;


  }
  .slajd {
    height: 600px;
    width:750px;
    display: none;
    background-color: #e9eaeb;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    backdrop-filter: blur(24px);


  }
  
  .slajd.active {
    display: block;
    border-radius: 22px;



  }
  
 
  .lewy-btn5
  {
    background-color: #e9e9e9;
  
    height: 45px;
 width: 80px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
   color: #006adc;

  }
  .prawy-btn5
  {
    background-color: #e9e9e9;
    height: 45px;
 width: 80px;
    border-radius: 12px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006adc;


  }
  .kropki {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    

  }
  
  .kropka {
    width: 40px;
    height: 5px;
 border-radius: 100px;
    background-color: #e9e9e9;

    margin: 0 5px;
  }
  
  .kropka.active {
    background-color: #006adc; /* lub zielony, zależnie od aktualnego slajdu */
  }
.na-btn5
{

  width: 170px;
    display: flex;
    display: flex;
    justify-content: space-between;
}





  @media only screen and (max-width: 850px) {
.o5
{
  height: 80dvh;


}
.slider
{
 
    flex-direction:column ;
    width: 90%;

  padding-bottom: 0px;



}
.k5
{
   
    height: 70dvh;
}
.slajd
{
    width: 100%;
    height: 85%;
}

  }
  @media only screen and (max-width: 550px) {
.o5
{
    height:68dvh;
}
.k5{

  height: 100%;
  padding-bottom: 20px;
}
.slider
{
height: 85%;
}
.slajd
{

  height: 350px;
}

  }